@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_overrides.scss";

:root {
  --grey: #f6f6f6;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

.card {
  max-width: 20em;
}
.gradient{
background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.8547794117647058) 1%, rgba(255,255,255,0) 18%, rgba(255,255,255,0) 97%);
}
.userPic{
  border-radius: 50%;
  max-width: 2em;
  max-height: 2em;
}
.bigger-modal{
  min-height: 90vh;
  min-width: 65vw;
}
.move-x{
  margin-right: -.6em;
  color: var(--danger) ;
}
.pointer:hover{
  cursor: pointer;
}
.big-text{
  font-size: 2em;
}
.huge-text{
  font-size: 3.5em;
}
.modal-user{
border-radius: 20%;
  max-width: 3em;
  max-height: 3em;
}
.bottom-out{
  position: absolute;
  bottom: .5em;
  width: 97%;
}

.bottom-space{
  margin-bottom: 5em;
}

@media screen and (max-width: 1300px) {
  .hide-mobile {
    display: none;
  }
  .mobile-margin{
    margin-right: 1em;
  }
}

.bigP-text{
  font-size: 3em;
}

.bigger-user {
  min-width: 10em;
  max-width: 10em;
  border-radius: 5%;
}

p{
  margin-bottom: 0;
}
.taller-text-area{
  min-height: 6.6em;
}
.hide-scroller::-webkit-scrollbar {
  display: none;
}
.xsm-keep{
  min-height: 20em;
}
.sm-keep{
  min-height: 23em;
}
.md-keep{
  min-height: 26em;
}
.lg-keep{
  min-height: 29em;
}
.xlg-keep{
  min-height: 32em;
}
.full-img{
  min-height: 100%;
  width: 100%;
}
.trash-style:hover{
  color: var(--danger) !important;
}
p{
  word-wrap: break-word;
}
.max-drop{
max-height: 20em;
}
.overflow {
  overflow-y: scroll;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}
.back-grey{
  background-color: #2D3436;
}
.cust-border{
border-style: solid;
border-width: 10px;
border-color: #2D3436;
color: #2D3436;
}

.text-info{
  text-shadow: 0px 1px 2px black;
}

.hefty-info{
  font-weight: 6000;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 5;
  }
  @include media-breakpoint-only(xs) {
    column-count: 2;
  }
}